@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.ricerca-container{
  width: 70%;
  padding: 30px 90px 90px 90px;
  border: 6px solid rgba(0, 0, 0, 0.3);
  box-shadow: 20px 20px 0 rgba(0, 0, 0, 0.3);
  border-radius: 50px;
  position: relative;
  margin: 0 auto;
  overflow: auto;
  text-align:center;
}
.ricerca-container{
	margin-top:20px;
	margin-bottom:30px;
}
.ricerca-container h1{
  color: rgba(0, 0, 0, 0.3);
  font-size: 2rem;
  text-transform: uppercase;
  pointer-events: none;
}
.ricerca-container input{
  width: 100%;
  background: transparent;
  outline: none;
  font-size: 14px;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  padding: 10px 0 10px 20px;
  border: 5px solid rgba(0, 0, 0, 0.3);
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.3);
  color: #555;
  border-radius: 50px;
}
.ricerca-container input:focus{
	border: 5px solid #555;
    transition: all 0.5s;
    box-shadow: 10px 10px 0 #555;	
}
.ricerca-container table{
	margin-left: auto;
	margin-right: auto;
}

.ricerca-avanzata{
	color:#555;
	margin-top:10px;
}